.body {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
   max-width: 1200px;
   margin: 0 auto;
   text-align: center;
   background-color: rgba(10, 10, 10, 0.712);
   color: goldenrod;
}

